<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDu3MXYRZArzrl8Q3-xYB_1svb9Z_BBEbQ</string>
	<key>GCM_SENDER_ID</key>
	<string>614519166179</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.zamuelfernandes.tourneyCraft</string>
	<key>PROJECT_ID</key>
	<string>tourney-craft</string>
	<key>STORAGE_BUCKET</key>
	<string>tourney-craft.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:614519166179:ios:adaea9ddf0229300e661d6</string>
</dict>
</plist>